/* Ubuntu Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

#contact-info {
    background-color: #B7FDFE;
    color: #533745;
}

#contact-info {
    justify-content: flex-end;
}

#contact-info p {
    float: right;
    margin: 6px;
}

#nav-bar {
    background-color: #533745;
    width: 100%;
    color: #B7FDFE;
    display: flex;
    flex-direction: row;
}

.nav-item {
    width: 50%;
    margin: 20px;
}

#logo {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    width: 63px;
    /* transition:all 2s; */
}

#logo-image {
    width: 53px;
    transition:all 1s;
}

#logo-text {
    width: 63px;
    color: #533745;
    transition:all 1s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style-type: none;
    padding-right: 10px;
    display: inline-block;
}

nav a:hover {
    border-bottom: 1px solid #B7FDFE;
}

.active {
    border-bottom: 1px solid #000;
}

nav a {
    text-decoration: none;
    color: #B7FDFE;
}

/* Hero Image */

#hero-outer {
    min-height: 28rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-inner {
    min-height: 28rem;
    max-width: 100%;
    background: url("../imgs/hero1.jpg") no-repeat center;
    background-size: cover;
}

#cover-text {
    display: flex;
    width: 20%;
    height: fit-content;
    text-transform: uppercase;
    position: absolute;
    left: 25%;
    top: 40%;
    text-align: center;
}

/* Partners Section */

#partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partner {
    width: 200px;
    height: 300px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.partner img {
    width: 202px;
}

/* intro section */

#intro {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 2.5rem 0;
}

#intro-text {
    width: 65ch;
    margin-left: 30px;
}

/* nee help? */
#help {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B7FDFE;
    padding: 2.5rem 0;
}

#help-sub-title {
    margin: 2rem 0;
}

.help-item {
    width: 90%;
    border-radius: 6px;
    background: #533745;
    color: #B7FDFE;
    line-height: 3rem;
    height: 3rem;
    padding-left: 1rem;
    margin: 0.3rem;
}

.hidden-help {
    visibility: hidden;
    padding-left: 1.5rem ;
    color: #fff;
}

.hidden-help-list {
    padding: 0 0 2rem 2rem ;
    line-height: 1.5rem;
}

.help-item:hover {
    cursor: pointer;
}

.expand-help-item {
    padding-right: 1.5rem;
}

#more-help {
    margin-top: 2rem;
    height: 3.5rem;
    font-style: bold;
    font-size: 1.1rem;
    width: 12rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 6.25rem;
    background: #533745;
    color: #B7FDFE;
}

/* Services Page */

#section-intro {
    width: 75ch;
    margin: auto;
    padding: 40px 0;
}

.services-section {
    width: 75ch;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

.services-section h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.services-section-upper {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.services-section img {
    width: 200px;
    height: 200px;
    margin: 0 0 30px 30px;
}

#image-on-left {
    margin: 0 30px 30px 0;
}

#service-lists {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 65ch;
}

#services-list {
    list-style: none;
    width: 40%;
    margin: auto;
}

/* Contact Form */

#contact-form-container {
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

#contact-form button {
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #B7FDFE;
    padding: 10px;
    margin: 0.5rem 0 1rem 0;
    float: right;
    border: none;
}

textarea {
    resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.required {
    color: red;
    font-size: 80%;
}

/* Footer */

footer {
    width: 100%;
    height: 5rem;
    background-color: #533745;
    color: #B7FDFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul {
    width: fit-content;
}

footer li {
    list-style-type: none;
    display: inline;
}

footer a {
    text-decoration: none;
}

footer a, 
a:visited, 
a:hover, 
a:active {
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 3px auto;
}

footer ul {
    padding-top: 10px;
}

footer p {
    color: #fff;
    margin-top: 0.5rem;
}