/* Ubuntu Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#contact-info {
    background-color: #B7FDFE;
    color: #533745;
}

header {
    display: flex;
    flex-direction: column;
}

#contact-info {
    justify-content: flex-end;
}

#contact-info p {
    float: right;
}

#nav-bar {
    background-color: #533745;
    width: 100%;
    color: #B7FDFE;
    display: flex;
    flex-direction: row;
}

.nav-item {
    width: 50%;
}

#logo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style-type: none;
    padding-right: 10px;
    display: inline-block;
}

nav a:hover {
    border-bottom: 1px solid #B7FDFE;
}

.active {
    border-bottom: 1px solid #000;
}

nav a {
    text-decoration: none;
    color: #B7FDFE;
}

/* Hero Image */

#hero-outer {
    min-height: 28rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-inner {
    min-height: 28rem;
    max-width: 100%;
    background: url("../imgs/hero1.jpg") no-repeat center;
    background-size: cover;
}

#cover-text {
    display: flex;
    width: 20%;
    height: fit-content;
    text-transform: uppercase;
    position: absolute;
    left: 40%;
    top: 40%;
    text-align: center;
}